<configuration>
    <property name="LOGS_PATH" value="./logs" />
  <appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %cyan(%logger) : %msg%n </pattern>
		</encoder>
	</appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_PATH}/logback.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_PATH}/file-%d{yyyy-MM,aux}/api-logback.%d{yyyy-MM-dd}.%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>50MB</maxFileSize>
                <!-- kb, mb, gb -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-4relative --- [
                %thread{10} ] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

  <logger name="com.framework" level="error" />
  
  <logger name="jdbc" level="OFF"/>
  
  <logger name="jdbc.sqlonly" level="OFF"/>
  <logger name="jdbc.sqltiming" level="error"/>
  <logger name="jdbc.audit" level="OFF"/>
  <logger name="jdbc.resultset" level="OFF"/>
  <logger name="jdbc.resultsettable" level="error"/>
  <logger name="jdbc.connection" level="OFF"/>
  
  <logger name="org.springframework" level="error" />
  <logger name="org.apache" level="error" />
  
  <root level="ERROR">
    <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
  </root>
  
</configuration>